<header>
    <div class="orange_top">
        <div class="sale">
            <p> Shop up to 50% OFF  on your favourite summer styles from our End of Season Sale <a href="#">now</a></p>
        </div>
        <div class="track">
            <p><a href="#">Track</a></p>
        </div>
    </div>

    <div class="header">
        <div class="logo">
            <img src="/images/khaadi-logo-D3410A6A8F-seeklogo.com.png" alt="logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Sale</a></li>
                <li><a href="#">New In</a></li>
                <li><a href="#"><b>#INSTAKHAADI</b></a></li>
                <li><a href="#">Fabrics</a></li>
                <li><a href="#">Ready to wear</a></li>
                <li><a href="#">Fragrance</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
        <div class="icon-menu">
            <ul>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
    </div>
</header>

<main>
    <div class="collage">
        <img src="/images/collage.webp" alt="collage images">
    </div>
    <div class="discount">
        <img src="/images/discount.webp" alt="discount image">
    </div>

    <div class="bottom">
        <div class="shipping">
            <div class="icon">
                <i class="fa-solid fa-truck" style="color: #e18941;"></i>
            </div>
            <div>
                <p>SHIPPING SCHARGES</p>
                <p>Starting from Rs. 120</p>
            </div>
        </div> 
        <div class="crafted">
            <div class="icon">
                <i class="fa-regular fa-heart"style="color: #e18941;"></i>
            </div>
            <div>
                <p>CRAFTED WITH CARE</p>
                <p>Curated with you in mind.</p>
            </div>
        </div>
        <div class="stories">
            <div class="icon">
                <i class="fa-solid fa-location-dot"style="color: #e18941;"></i>
            </div>
            <div>
                <p>FIND STORIES</p>
                <p>Stories countrywide across Pakistan, UK, UAE, US.</p>
            </div>
        </div>
    </div>

    <div class="help"> 
        <div><h2>NEED HELP?</h2></div>
        <div class="phone">
            <i class="fa-solid fa-phone"></i>
            <p>0800 74007</p>
        </div>
        <div class="mail">
            <i class="fa-regular fa-envelope"></i>
            <p>EMAIL US</p>
        </div>
    </div>

    <div class="social-menu">
        <div class="help-menu">
            <h4>HELP</h4>
            <p>Track Your Order</p>
            <p>Terms and Conditons</p>
            <p>Privacy Policy</p>
        </div>
        <div class="customer-menu">
            <h4>CUSTOMER SUPPORT</h4>

            <p>Customer Service</p>
            <p>Store Locator</p>
            <p>Disclaimer</p>
            <p>Delivery</p>
            <p>Exchange</p>
            <p>FAQs</p>
        </div>
        <div class="more-menu">
            <h4>MORE FROM KHAADI</h4>
            <p>About Us</p>
            <p>Contact US</p>
            <p>Blogs</p>
        </div>
        <div class="icon-menu">
            <h4>OUR SOCIALS</h4>
            <div class="social-icons">
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-youtube" style="color: #ea4a39;"></i>
                <i class="fa-brands fa-square-facebook" style="color: #4c85e6;"></i>
                <i class="fa-brands fa-square-instagram" style="background: linear-gradient(45deg, #FD1D1D, #F56040, #F77737, #FCAF45); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>
                <p>GET THE LATEST NEWS</p>
                <div class="input">
                    <input type="text"  class="label" placeholder=" "required>
                    <label for="name">Email Address</label>
                    <button>CONFIRM</button>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="footer">
        <div class="visa">
            <p>100% Safe Checkout</p>
            <div>
                <i class="fa-brands fa-cc-mastercard" style="color: #f03000;"></i>
                <i class="fa-brands fa-cc-visa" style="color: #2759b0;"></i>
            </div>
        </div>
        <div class="daddy">
            <p>Secured by</p>
            <i class="fa-brands fa-salesforce"></i>
        </div>
        <div class="copy-rights">
            <img src="/images/khaadi-logo-D3410A6A8F-seeklogo.com.png" alt="">
            <p>Copyright &#169 2024 Khaadi Corporation Limited . All Rights Reserved. </p>
        </div>
    </div>
</footer>
